body {
    font-family: Tahoma, cursive;
    color: white;
    background-color: black;
    margin: auto;
    width: 80%;
}

h1 {
    color: purple;
    border: 2px solid black;
    padding: 10px;
    margin: 30px;
}
p {
    text-align: center;
}
li {
    font-style: oblique;
    color: white;
}
table {
    color: white;
}
a {
    font-family: monospace;
    text-decoration: none;
    font-weight: none;
}
a:link {
    color: yellow;
}
a:visited {
    color: Red;
}
a:hover {
    text-decoration: underline;
    color: #00c;
    font-family: cursive;
}
a:active {
    font-weight: bold;
}