
body {
    background-color: beige;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}
a {
    font-family: monospace;
    text-decoration: underline;
    font-weight: none;
    color: white;
}

a:link {
    color: yellow;
}
a:visited {
    color: gainsboro;
    font-weight: smaller;
}

a:hover {
    text-decoration: none;
    color: #00c;
    font-weight: bold;
    font-family: cursive;
}
a:active {
    text-decoration: none;
}

blockqoute {
    font-style: oblique;
            }

/*----------------------------------
Navbar
------------------------------------*/

.nav nav-pills {
    position: relative;
    display: inline-block;
    padding: 100px 100px;
}


/*----------------------------------
Carousel
------------------------------------*/

#myCarousel {
    margin-top: 10px;
}

.carousel-caption {
    font-size: 24px;
}

.carousel-caption h4 {
    font-size: 32px;
}

#myCarousel.item {400px;}

#slide1 {
    background: url('../images/carousel_medium_01.jpg') top left no-repeat;
}

#slide2 {
    background: url('/images/carousel_medium_02.jpg') top left no-repeat;
}

#slide3 {
    background: url('/images/carousel_medium_03.jpg') top left no-repeat;
}

